#!/bin/bash

#This is a list of functions used for creating and updating logs for bash scripts.

#This function creates a log at a specific directory
function logCreate {
   configLogPath="${1}"
   timestamp=$(date "+%Y-%m-%d - %H.%M.%S")
   touch "${configLogPath}"
   echo "====== Script started at $timestamp ======" >> "${configLogPath}"
}

#This function opens the log
function logOpen {
   open "${configLogPath}"
}

function logNewLine {
   timestamp=$(date "+%Y-%m-%d - %H.%M.%S")
   echo "$timestamp - ${1}" >> "${configLogPath}"
}

function logAddLine {
   sed -i '' -e '$s/$/'"$1"'/' "${configLogPath}"     #this was a doozy to write. the -i '' -e is required for MacOS for some reason
}

#When this function is placed in a script, the stdout and the stderr will be saved to the log (but not printed to console)
function logOut {
	exec 3>&1 4>&2
	trap 'exec 2>&4 1>&3' 0 1 2 3
	exec 1>>"${configLogPath}" 2>&1
   #this is lifted directly from https://serverfault.com/questions/103501/how-can-i-fully-log-all-bash-scripts-actions
}
