#This is a list of functions used for creating and updating logs for bash scripts.

#This function creates a log at a specific directory
function logCreate {
   configLogPath="${1}"
   timestamp=$(date "+%Y-%m-%d - %H.%M.%S")
   touch "${configLogPath}"
   echo "====== Script started at $timestamp ======" >> "${configLogPath}"
}

#This function opens the log
function logOpen {
   open "${configLogPath}"
}

function logNewLine {
   timestamp=$(date "+%Y-%m-%d - %H.%M.%S")
   echo "$timestamp - ${1}" >> "${configLogPath}"
}

function logAddLine {
   sed -i '' -e '$s/$/'"$1"'/' "${configLogPath}"     #this was a doozy to write. the -i '' -e is required for MacOS for some reason
}
